# Telegram configs
BOT_NAME=Torrent Hunt
BOT_TOKEN=6551339142:AAGgkDJiphi43zs3EcD72NLdEG7ZTUx0fNk
API_ID=29272471
API_HASH=59e13c9adc5770397c95e4eb96da7571
BOT_ADMINS=7184153122, 2094128105

# Database connection string
DATABASE_URL=sqlite:///torrenthunt.db

# Torrent Hunt API
TORRENTHUNT_API_KEY=7b97237153msh266f6c4a6ebd8bdp18a842jsn2ce6c44f50e2

# Message to forward on start
START_ADS=false
START_ADS_CHANNEL=
START_ADS_MESSAGE=

# Sentry.io for error tracing
SENTRY_DSN=

# MISC
WORKDIR=
LOGFILE=
ENVIRONMENT=local
